/* class: Las clases son un conjunto de
 propiedades o caracterìsticas a las
 cuales les asigno un nombre*/
 .parrafo{
      background:white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: black;
 }